@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    font-family: 'Fira Code', monospace;
}

:root {
    --primary-color: #131313;
    --secondary-color: #342e37;
    --third-color: #88df0f;
    --fourty-color: #ffff;
}

body {
   background-color: var(--secondary-color); 
   width: 100%;
   height: 100vh;
}

.task-area {
    margin: 2rem auto;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 50px;
}

.task-area h2 {
    text-align: center;
    color: var(--third-color);
}

.task-area .input-wrapper {
    width: 300px;
}

.task-area .input-item {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.task-area .input-item label {
    margin-top: 1rem;
    color: var(--third-color);
    font-weight: 600;
    font-size: 1.2rem;
}

.task-area .input-item input::placeholder {
    color: #9c9c9c;
}

.task-area .input-item input, textarea {
    padding: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--third-color);
    color: var(--fourty-color);
    outline: none;
}

.task-area .input-item .priority-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-area .input-item .priority-area select{
    border: 1px solid var(--third-color);
    background-color: inherit;
    outline: none;
    color: var(--fourty-color);
    padding: 5px;
    width: 100%;
    border-radius: 20px;
}

.task-area .input-item .priority-area option {
    background-color: var(--primary-color);
    border: solid 1px var(--third-color);
    color: var(--third-color);
}

.task-area .input-item .btn-send {
    margin-top: 2rem;
    border: none;
    background-color: var(--third-color);
    padding: 5px;
    color: var(--primary-color);
    font-weight: 700;

}

#task-added-area {
    color: var(--fourty-color);
}