@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    font-family: 'Fira Code', monospace;
}

:root {
    --primary-color: #131313;
    --secondary-color: #342e37;
    --third-color: #88df0f;
    --fourty-color: #ffff;
    --hover-color: #599505;
}

body {
   background-color: var(--secondary-color); 
   width: 100%;
   height: 100vh;
}

#task-container {
    max-width: 1200px;
    margin: auto;
}

.task-area {
    margin: 2rem auto;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    padding: 50px;
    border: solid 1px var(--third-color);
}

.task-area h2 {
    text-align: center;
    color: var(--third-color);
}

.task-area .input-wrapper {
    width: 300px;
}

.task-area .input-item {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.task-area .input-item label {
    margin-top: 1rem;
    color: var(--third-color);
    font-weight: 600;
    font-size: 1.2rem;
}

.task-area .input-item input::placeholder {
    color: #9c9c9c;
}

.task-area .input-item input, textarea {
    padding: 5px;
    background-color: var(--primary-color);
    border: 1px solid var(--third-color);
    color: var(--fourty-color);
    outline: none;
}

.task-area .input-item .priority-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-area .input-item .priority-area select{
    border: 1px solid var(--third-color);
    background-color: inherit;
    outline: none;
    color: var(--fourty-color);
    padding: 5px;
    width: 100%;
    border-radius: 20px;
}

.task-area .input-item .priority-area option {
    background-color: var(--primary-color);
    border: solid 1px var(--third-color);
    color: var(--third-color);
}

.task-area .input-item .btn-send {
    margin-top: 2rem;
    background: transparent;
    border: none;
    border: 1px solid var(--third-color);
    padding: 5px;
    color: var(--third-color);
    font-weight: 700;

}

#task-added-area {
    color: var(--fourty-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    color: var(--fourty-color);
    text-align: center;
}

.task-item {
    flex: 1;
    padding: 25px;
    margin: 10px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: solid 1px var(--third-color);
}

.task-item .task-info {
    width: 100%;
}

.task-item .task-info .task-title {
    color: var(--third-color);
    font-size: 1.3rem;
}

.task-item .task-info .task-date {
    color: #d0d0d0;
}

.task-description {
    color: #a3a3a3;
}

.task-done {
    width: 100%;
}

.task-item .task-done button {
    margin-top: 5px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid var(--third-color);
    padding: 10px;
    color: var(--fourty-color);
    width: 100%;
    font-weight: 700;
    transition:  0.5s ease-in-out;
}

.task-item .task-done button:hover {
    background-color: var(--third-color);
    color: var(--primary-color);
}

.title-section {
    padding: 10px;
    background-color: var(--third-color);
}